.footer{
    background: rgba(229, 248, 241, 0.72);
    width: 100%;
    padding: 48px;
    box-sizing: border-box;
    font-family: "Paperlogy", sans-serif;
}

.footer-top{
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer-title{
    font-size: 23px;
    font-weight: 700;
}
.footer-desc{
    font-size: 17px;
    font-weight: 500;
}

.footer-logo{
    width: 36px;
    height: 36px;
}

.footer-info{
    display: flex;
    gap: 5%;
}